::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: none;
}

body {
    font-family: 'Arimo', sans-serif;
    margin: 0 0 60px; /* altura do footer */
}

html {
    position: relative;
    height: 100%;
}