.starter-template {
  padding: 3rem 1.5rem;
  background-color:#f5f5f5;
  height:98vh;
  overflow: auto;
  /*margin: 0;*/
  display: none;
}

.center-content{
  width:100%;
  z-index: 1;
  max-width: 100%;
}

.posts{
    border: 1px solid lightgray;
    background-color:white;
    padding: inherit;
    height: max-content;
}

.footer{
  bottom: 0;
  position: fixed;
  /*margin-left: inherit; */
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.date{
  font-weight: bold;
  font-size: 25px;
}

.status{
  font-size: 40px;
  color: turquoise;
}

@media screen and (max-width: 1024px) {
  .hide-mobile {
      width: 100% !important;
  }
}

.loader {
  position: fixed;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid turquoise;
  border-bottom: 16px solid turquoise;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}